<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="main-content">

    <div class="main-banner">
      <img src="../../assets//banner_Saito 1.png" alt="Banner Confeitaria Divino Sabor">
    </div>
    <div class="main-footer">
      <h2>Faça já o seu pedido e adoce o seu dia!</h2>

      <ul class="main-lista-contatos">
        <li>
          <p><img src="../../assets/icon_Whatsapp.svg" alt="Icone-Whatsapp">Contato</p>
        </li>
        <li>
          <p><img src="../../assets/icon_Instagram.svg" alt="Icone-Instagram">@divinosabores</p>
        </li>
      </ul>
    </div>

  </div>
</body>

</html>