@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    transition: .2s;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 10px;
    background: #FFE1F8;
}

body::-webkit-scrollbar-thumb {
    background: #41271F;
    box-shadow: 0px 0px 6px 6px rgba(52, 31, 25, 0.25) inset;
}

header {
    width: 100%;
    height: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFE1F8;
    box-sizing: border-box;
    padding: 0 165px;
    position: fixed;
    top: 0;
    left: 0;
}

header .logoContainer {
    width: 263.495px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logoContainer img {
    width: 100px;
}

header .logoContainer h1 {
    font-family: Open;
    font-size: 21px;
    font-weight: 700;
    line-height: 31.5px;
    color: #000000;
    font-family: sans-serif;

}

header nav {
    width: 448;
    height: 70px;
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
}

header nav ul li a {
    font-size: 16px;
    font-weight: 400;
    display: flex;
    line-height: 24px;
    margin-right: 20px;
    font-style: none;
    text-decoration: none;
    color: #000;
}

header nav ul li a img {
    width: 26px;
}


header nav img {
    width: 30px;
}

img[src="../../assets/banner_Saito 2.svg"] {
    width: 100vw;
    margin-top: 128px;
    z-index: 999 !important;
}

.container {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* position: relative; */
    z-index: 0;
}

.container h1 {
    margin-bottom: 20px;
    font-family: Oleo Script;

}

.container h2 {
    margin-top: 30px;
    font-family: Oleo Script;
}

.mapBox {
    /* position: relative; */
    width: 600px;
    height: 500px;
    background: white;
}

.mapBox iframe {
    width: 100%;
    height: 100%;    
}

footer {
    width: 100%;
    height: 260px;
    box-sizing: border-box;
    padding: 0 165px;
    display: flex;
    align-items: center;
    background: #41271F;
    margin-top: 80px;
}

img[src="../../assets/footer_Logo.svg"] {
    width: 170px;
}

footer h1 {
    height: 70%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 20px;
    color: #FFF;
    font-family: sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 31.5px;
    margin: 0 150px;
    white-space: nowrap;
    border-left: 1px solid white;
}

.collaboratorsContainer .collaborators {
    width: 338px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px rgb(255, 255, 255);
}

.collaboratorsContainer .collaborators p {
    color: white;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 100;
    line-height: 35.209px;
    text-align: end;
}

.collaboratorsContainer .collaborators img {
    width: 20px;
}

.btn-login:hover {
    cursor: pointer;
}