@import url('../../styles.css');

.header-content {
    background-color: #FFE1F8;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


* {
    margin: 0;
    border: 0;
    padding: 0;
}

a, button:hover {
}

html {
    width: 100vw;
}

.welcome-product-categories {
    
}

.main-content {
    max-width: 100vw;
    background-color: red;
}

img {
    max-width: 100vw;
}